.example-card {
  border: 1px solid grey;
  color: white;
  background-color: #2a263d;
  margin-top: 2%;
  max-width: 600px;
  max-height: 1500px;
  #content {
    padding-top: 2%;
  }
}

.example-header-image {
  // background-image: url("https://material.angular.io/assets/img/examples/shiba1.jpg");
  background-size: cover;
}
