<mat-card class="example-card" *ngFor="let post of posts | reverse">
  <mat-card-header>
    <img
      mat-card-avatar
      class="example-header-image"
      [src]="'http://127.0.0.1:5000/uploads/' + post.photo"
    />
    <mat-card-title>{{ post.name }}</mat-card-title>
    <mat-card-subtitle style="color: white;"
      >@{{ post.username }}</mat-card-subtitle
    >
  </mat-card-header>
  <div id="content" *ngIf="post.type === 'image'">
    <img
      mat-card-image
      [src]="'http://127.0.0.1:5000/uploads/' + post.link"
      alt=""
    />
  </div>
  <div id="content" *ngIf="post.type === 'video'">
    <iframe
      class="card-img-top"
      [src]="'http://127.0.0.1:5000/uploads/' + post.link | safe"
      alt="Card image cap"
      allowfullscreen
    >
    </iframe>
  </div>

  <mat-card-content>
    <h6>{{ post.post }}</h6>
    <small>{{ post.created_at | dateAgo }}</small>
  </mat-card-content>
</mat-card>
<!-- https://instagram.ftun4-1.fna.fbcdn.net/v/t51.2885-15/e35/s1080x1080/81079470_180885033032053_8283358069387268417_n.jpg?_nc_ht=instagram.ftun4-1.fna.fbcdn.net&_nc_cat=101&_nc_ohc=O9wM-DGEdbAAX-ZYvmP&oh=041a0636bb14ceee374061fda31ba877&oe=5EC8D020 -->
