#header {
  top: 0;
  bottom: 0;
  // opacity: 0.7;
  position: absolute;
  z-index: -1;
  width: 100%;
  img {
    width: 100%;
    height: 100%;
  }
}

#intro {
  border-radius: 100px;
  margin-left: 30%;
  text-align: center;
  width: 40%;
  margin-top: 10%;
  h2 {
    font-weight: bold;
    padding-top: 2%;
  }
  #arrowDown {
    color: black;
    padding-top: 2%;
    margin-top: 10%;
    font-weight: bolder;
    &:hover {
      cursor: pointer;
      transition: all 0.2s ease-in-out;
      transform: scale(3);
    }
    &:active {
      color: orange;
    }
  }
}

#about {
  background-color: white;
  text-align: center;
  width: 100%;
  height: 100%;
  margin-top: 23.6%;
  padding: 10%;
}

.tranisition-slow {
  transition: all 0.5s;
}
