<div id="header">
  <img src="https://miro.medium.com/max/880/1*T9eVriZthNgamCHNAerpug.gif" />
</div>

<div id="body">
  <div id="intro" class="container">
    <h2 class=" animated fadeInDown">Welcome To Unit Website</h2>
    <h6 class=" animated fadeInDown">
      enjoy the social media without being bothered of likes or comments
    </h6>
    <div class=" animated zoomInUp">
      <a href="#about">
        <mat-icon
          id="arrowDown"
          aria-hidden="false"
          aria-label="Example expand_more icon"
          >expand_more</mat-icon
        >
      </a>
    </div>
  </div>

  <!-- ////////////////////////////////////////////////// -->

  <section id="about">
    <h2>About The Website</h2>
    <p>
      orem Ipsum is simply dummy text of the printing and typesetting industry.
      Lorem Ipsum has been the industry's standard dummy text ever since the
      1500s, when an unknown printer took a galley of type and scrambled it to
      make a type specimen book. It has survived not only five centuries, but
      also the leap into electronic typesetting, remaining essentially
      unchanged. It was popularised in the 1960s with the release of Letraset
      sheets containing Lorem Ipsum passages, and more recently with desktop
      publishing software like Aldus PageMaker including versions of Lorem
      Ipsum. Why do we use it? It is a long established fact that a reader will
      be distracted by the readable content of a page when looking at its
      layout. The point of using Lorem Ipsum is that it has a more-or-less
      normal distribution of letters, as opposed to using 'Content here, content
      here', making it look like readable English. Many desktop publishing
      packages and web page editors now use Lorem Ipsum as their default model
      text, and a search for 'lorem ipsum' will uncover many web sites still in
      their infancy. Various versions have evolved over the years, sometimes by
      accident, sometimes on purpose (injected humour and the like). Where does
      it come from? Contrary to popular belief, Lorem Ipsum is not simply random
      text. It has roots in a piece of classical Latin literature from 45 BC,
      making it over 2000 years old. Richard McClintock, a Latin professor at
      Hampden-Sydney College in Virginia, looked up one of the more obscure
      Latin words, consectetur, from a Lorem Ipsum passage, and going through
      the cites of the word in classical literature, discovered the undoubtable
      source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus
      Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in
      45 BC. This book is a treatise on the theory of ethics, very popular
      during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor
      sit amet..", comes from a line in section 1.10.32
    </p>
  </section>
  <!-- ////////////////////////////////////////////////// -->

  <section id="team">
    <div class="container">
      <div class="section-header">
        <h3>Team</h3>
      </div>

      <div class="row">
        <div class="col-lg-3 animated bounceInLeft">
          <div class="member">
            <img
              src="https://scontent.ftun4-1.fna.fbcdn.net/v/t1.0-9/p960x960/82570142_1598346823640215_8774288190505746432_o.jpg?_nc_cat=105&_nc_oc=AQk3CUkB-z4lOeMGe00KPKS_tycSR9fvgdJVjKYq8GPc3ZMMu2Bi3RRE8gUKHrd7Oio&_nc_ht=scontent.ftun4-1.fna&_nc_tp=6&oh=4191aa1ec8cb3be5d65a5c83bc06c829&oe=5E95FC71"
              class="img-fluid"
              alt=""
            />
            <div class="member-info">
              <div class="member-info-content">
                <h4>Hashem Buzer</h4>
                <span>Product Owner</span>
                <div class="social">
                  <a href="https://github.com/Hashem-Buzer" target="_blank"
                    ><img
                      src="https://cdn4.iconfinder.com/data/icons/iconsimple-logotypes/512/github-512.png"
                      alt=""
                  /></a>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 animated bounceInUp">
          <div class="member">
            <img
              src="https://scontent.ftun4-1.fna.fbcdn.net/v/t1.0-9/75233676_2468039866847641_4680078330324582400_n.jpg?_nc_cat=108&_nc_oc=AQlDmhcukOSJANd6dYiBTxC2h0yulgZDwLRm-fD4t5qzhs0Buzim0X0Q-s8xik9haM8&_nc_ht=scontent.ftun4-1.fna&oh=275c650f3e5b115c143c34d1beaeda09&oe=5ECFB6DE"
              class="img-fluid"
              alt=""
            />
            <div class="member-info">
              <div class="member-info-content">
                <h4>Malik Altawati</h4>
                <span>Scrum Master</span>
                <div class="social">
                  <a href="https://github.com/Malik-Altawati" target="_blank"
                    ><img
                      src="https://cdn4.iconfinder.com/data/icons/iconsimple-logotypes/512/github-512.png"
                      alt=""
                  /></a>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 animated bounceInUp">
          <div class="member">
            <img
              src="https://scontent.ftun4-1.fna.fbcdn.net/v/t1.0-1/c162.0.972.972a/49899912_985414711846843_2915905176164368384_o.jpg?_nc_cat=102&_nc_oc=AQlmrqKUE1JOXQKN0M5m4GB58ib5naJ9fc3APo2pXvXQuK1aV2eOwGq56GqjOKrbI7I&_nc_ht=scontent.ftun4-1.fna&oh=c77ab10a9ebf3224ea79a6e03e9e1f03&oe=5EC4C406"
              class="img-fluid"
              alt=""
            />
            <div class="member-info">
              <div class="member-info-content">
                <h4>Abdelrahman Shibani</h4>
                <span>Team Member</span>
                <div class="social">
                  <a href="https://github.com/Abdlrrahman" target="_blank"
                    ><img
                      src="https://cdn4.iconfinder.com/data/icons/iconsimple-logotypes/512/github-512.png"
                      alt=""
                  /></a>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 animated bounceInRight">
          <div class="member">
            <img
              src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRPdjFWnyl_ZSbFvgP6eBZGYJyalU8ezkDqq8h4TKidCD2rNDOv"
              class="img-fluid"
              alt=""
            />
            <div class="member-info">
              <div class="member-info-content">
                <h4>Zied Barhoumi</h4>
                <span>Team Member</span>
                <div class="social">
                  <a href="https://github.com/ziedbarhoumi1989" target="_blank"
                    ><img
                      src="https://cdn4.iconfinder.com/data/icons/iconsimple-logotypes/512/github-512.png"
                      alt=""
                  /></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="goUpDiv">
      <a href="#header">
        <mat-icon id="goUp">keyboard_arrow_up</mat-icon>
      </a>
    </div>
  </section>
</div>
<app-footer></app-footer>
