<!-- <p>info-section works!</p> -->
<div id="body">
  <div id="pp" class="container">
    <div id="addIcon">
      <label for="file-input">
        <mat-icon id="icon">add</mat-icon>
      </label>
    </div>
    <input
      id="file-input"
      type="file"
      name="image"
      (change)="onUploadPhoto($event)"
    />
    <img [src]="'http://127.0.0.1:5000/uploads/' + photo" alt="..." />
  </div>

  <div id="infos" class="container">
    <div id="name">
      <h5>{{ name }}</h5>
      <h6>@{{ username }}</h6>
    </div>
    <div id="bio">
      {{ bio }}
    </div>
  </div>
  <hr />
  <div id="btns" class="container">
    <div class="row">
      <div id="followers" class="col-4">
        <button
          *ngIf="followersLength > 1"
          id="followersBtn"
          class="btn"
          (click)="followersInfo()"
          routerLinkActive="router-link-active"
        >
          {{ followersLength }}
          followers
        </button>
        <button
          *ngIf="followersLength === 1"
          id="followersBtn"
          class="btn"
          (click)="followersInfo()"
          routerLinkActive="router-link-active"
        >
          {{ followersLength }}
          follower
        </button>
      </div>
      <div id="editProfileDiv" class="col-4">
        <button
          id="editProfile"
          class="btn"
          [routerLink]="['/edit']"
          routerLinkActive="router-link-active"
        >
          <mat-icon style="float: left; margin-top: 5px;">create</mat-icon>
          edit profile
        </button>
      </div>
      <div id="following" class="col-4">
        <button
          id="followingBtn"
          class="btn"
          [routerLink]="['/edit']"
          routerLinkActive="router-link-active"
        >
          following
        </button>
      </div>
    </div>
  </div>

  <!-- <div class="row">
    <div class="col-4"> -->
  <app-posts-section></app-posts-section>
  <!-- </div> -->
  <!-- </div> -->
</div>
