#navBarLandingPg {
  a {
    text-decoration: none;
    color: white;
  }
  .checkbtn {
    font-size: 30px;
    color: white;
    float: right;
    margin-right: 40px;
    cursor: pointer;
    display: none;
  }

  // background-color: transparent;
  background-color: #ba4555;

  // background: linear-gradient(to right, #00b4db, #0083b0);
  .nav-wrapper {
    #logo {
      margin-left: 150px;
      &:hover {
        background: transparent;
      }
    }
    #nav-left {
      margin-left: 150px;
      li:hover {
        border-top-right-radius: 20%;
        border-top-left-radius: 20%;
        background: linear-gradient(to bottom, #dbc602, #b6b301);
      }
      li {
        margin-right: 50px;
      }
    }

    #searchBar {
      position: absolute;
      top: 0;
      margin-left: 43%;
      text-align: center;
      width: 20%;

      form {
        color: white;
      }
    }

    #nav-right {
      margin-right: 150px;
      li:hover {
        border-top-right-radius: 20%;
        border-top-left-radius: 20%;
        // background: linear-gradient(to bottom, #ff0099, #493240);
        background-image: linear-gradient(to top, #0c2a4e 0%, #1f518d 100%);
      }
      li {
        margin-right: 50px;
      }
    }
  }
}

// responsive nav bar
// @media (max-width: 992px) {
//   #navBarLandingPg .checkbtn {
//     display: block;
//   }
//   #navBarLandingPg #ul {
//     position: fixed;
//     width: 100%;
//     height: 100vh;
//     background: #2c3e50;
//     top: 63px;
//     right: -100%;
//     text-align: center;
//     transition: all 0.5s;
//   }
//   #navBarLandingPg #ul li a {
//     text-align: center;
//     display: block;
//     margin: 50px 0;
//     line-height: 30px;
//   }
//   #navBarLandingPg #ul li a {
//     font-size: 20px;
//   }
//   #navBarLandingPg #ul li a:hover,
//   #navBarLandingPg #ul li a.active {
//     background: none;
//     color: #0082e6;
//   }
//   #check:checked ~ #ul {
//     right: 0;
//   }
// }

#profile {
  text-align: center;
  float: right;
  margin-right: 100px;
  padding-top: 5px;
  height: 64px;
  &:hover {
    border-top-right-radius: 20%;
    border-top-left-radius: 20%;
    background-image: linear-gradient(to top, #ff5858 0%, #f09819 100%);
  }

  #list {
    background-image: linear-gradient(to top, #ff5858 0%, #f09819 100%);

    .pro {
      // padding-bottom: 70px;
      // top: 0;
      // height: 30px;
      color: white;
      text-decoration: none;
      text-align: center;
      &:hover {
        color: white;
        background-color: rgba(0, 0, 0, 0.418);
      }
    }
  }
}
