#body {
  background-color: #201d2f;
  min-height: 100%;
  #mainContainer {
    border-radius: 20px;
    width: 100%;
    padding: 1%;
    // margin-top: 1%;
    margin-bottom: 1%;
    #posts {
      padding: 1%;
      margin-left: 23%;
    }
  }
}
