<div class="alert alert-success" *ngIf="notifyMessage">{{ notifyMessage }}</div>
<div id="body">
  <div class="row">
    <div class="col-4">
      <h2>Sign Up</h2>
      <form id="formSignup" [formGroup]="signupForm" (ngSubmit)="signup()">
        <div class="form-group">
          <label for="name">Full Name*</label>
          <input
            type="text"
            class="form-control"
            id="name"
            aria-describedby="name"
            formControlName="name"
          />
        </div>

        <div class="form-group">
          <label for="username">User Name*</label>
          <input
            type="text"
            class="form-control"
            id="username"
            aria-describedby="username"
            formControlName="username"
          />
        </div>

        <div class="form-group">
          <label for="email">Email*</label>
          <input
            type="email"
            class="form-control"
            id="email"
            aria-describedby="email"
            formControlName="email"
          />
        </div>

        <div class="form-group">
          <label for="password">Password*</label>
          <input
            #password
            type="password"
            class="form-control"
            id="password"
            placeholder="********"
            aria-describedby="password"
            formControlName="password"
          />
        </div>

        <div class="form-group">
          <label for="confirmPassword">Confirm Password*</label>
          <input
            #confirmPassword
            type="password"
            class="form-control"
            id="confirmPassword"
            placeholder="********"
            formControlName="confirmPassword"
            aria-describedby="confirmPassword"
          />
        </div>

        <div
          *ngIf="
            confirmPassword.value !== password.value &&
            signupForm.controls.password.touched &&
            signupForm.controls.confirmPassword.touched
          "
          class="alert alert-danger"
        >
          <!-- <div *ngIf="confirmPassword.errors.required"> -->
          Password should be the same!!.
          <!-- </div> -->
        </div>

        <button
          [disabled]="!signupForm.valid"
          type="submit"
          class="btn btn-primary"
        >
          signUp
        </button>
      </form>
      <div *ngIf="errors.length > 0" class="alert alert-danger">
        <p *ngFor="let error of errors">
          {{ error.detail }}
        </p>
      </div>
    </div>
    <div class="col-8" id="bgImg">
      <img
        src="https://mir-s3-cdn-cf.behance.net/project_modules/fs/8378b263616517.5ab8e58069f97.gif"
        alt=""
      />
    </div>
  </div>
</div>
