#body {
  width: 100%;
  height: 100vh;
  top: 0;
  bottom: 0;

  #bgImg {
    background-color: #c7a793;
    height: 100vh;
    bottom: 0;
    img {
      float: right;
      // z-index: -1;
      width: 100%;
    }
  }

  h2 {
    text-align: center;
    color: #ba4555;
    margin-top: 20%;
  }
}

#formSignup {
  padding: 20% 20% 0;
  border-radius: 10%;
  font-weight: bold;
  width: 100%;
  display: grid;

  label {
    color: #863055;
  }

  input {
    border-bottom: 1px solid rgb(110, 110, 110);
    border-radius: 10px;
    padding-inline-start: 10px;
    height: 35px;
  }

  button {
    width: 100%;
    background-color: rgb(61, 61, 61);
    &:hover {
      background: linear-gradient(to right, #fe8c00, #f83600);
    }
  }
}
