<div class="container">
    <div class="row">
        <div class="col" *ngFor="let item of Data ">
            <!--[ngIf]="(item.type =='image')" -->
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" [src]="'http://127.0.0.1:5000/uploads/' + item.link" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">{{item.created_at}}</h5>
                    <p class="card-text">{{item.post}}</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
    </div>
</div>